	window {
	
		background-color: #0a0e12;
		color: #ffffff;
		border: 2px solid #65afe4;
		border-radius: 5px;
		font-family: JetBrainsMono Nerd Font Mono;
		font-size: 14px;
	}

	#input {
		background-color: #0a0e12;
		color: #ffffff;
		font-family: JetBrainsMono Nerd Font Mono;
		font-size: 14px;
	}

	#iner-box {

	}

	#outer-box {


	}

	#scroll {
		 margin: 5px;
		 border-radius: 5px;
		 color: #486181;
	}
	
	#selected {
		 color: #1d2832;
		 background-color: #65afe4;
		 border-radius: 5px;
	}
       
	#entry {
		border: none;
	}


	#entry:focus {
		border:none;
	}

	#entry:selected {
		background-color: #0a0e12;
		border-radius: 5px;
		border: none;
	}


	#text {
		background-color #1d2832;
		margin: 5px;
		padding: 2px 2px 2px 5px;
	}
